[ENGINE]
Response File Version=1.0.0.0.0

[GENERIC]
SPECIFY_DOWNLOAD_LOCATION=false
SKIP_SOFTWARE_UPDATES=true
INSTALL AND CONFIGURE TYPE=true
INSTALL AND CONFIGURE LATER TYPE=false
ORACLE_HOME={{ ohs_oracle_home }}
MIDDLEWARE_HOME={{ middleware_home }}
INSTANCE_HOME={{ instance_home }}
INSTANCE_NAME={{ instance_name }}
AUTOMATIC_PORT_DETECT=true
MYORACLESUPPORT_USERNAME=
DECLINE_SECURITY_UPDATES=true

[SYSTEM]
CONFIGURE_OHS=true
CONFIGURE_WEBCACHE=false
OHS_COMPONENT_NAME={{ ohs_component_name }}

[RELATIONSHIPS]
ASSOCIATE_WEBTIER_WITH_DOMAIN=false
